{% extends 'layout.html' %}

{% block content %}
<div class="sidebar">
    <div class="nav-holder">
        <div class="nav-header">
            <span class="mt-5 main-title">🤓</span>
        </div>
        <div class="nav-item">
          <div class="nav-item-link">
            <a href="#" class="mt-4" data-bs-toggle="modal" data-bs-target="#mentorsmodal">
              See the sources
            </a>
          </div>
        </div>
        <div class="nav-item">
          <div class="nav-item-link">
            <a href="#" class="mt-4" data-bs-toggle="modal" data-bs-target="#promptmodal">
              Edit the prompt
            </a>
          </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="results">
        <div class="results-list" id="results">

        </div>
    </div>
    <div class="chatbox">
        <div class="form-holder">
            <form id="search-form" class="">
                <input type="text" class="chat-input" placeholder="Enter your question" name="query">
                <button type="submit" class="btn chat-btn btn-primary">></button>
            </form>
        </div>
    </div>
</div>

<!-- jQuery and AJAX script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% include 'includes/script-replace.html' %}
{% include 'includes/script-mentors.html' %}
{% include 'includes/script-ask.html' %}
{% include 'includes/script-promptedit.html' %}


<!-- Including the modals -->
{% include 'includes/modals.html' %}

<div id="loading-spinner" class="text-center" style="display: none;">
  <div class="spinner-border text-primary" role="status">
  </div>
</div>

{% endblock %}